# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# PyInstaller
build/
dist/

# Test/cache
.pytest_cache/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
desktop.ini

# Local application data
*.db
*.sqlite
*.sqlite3git